{% extends "base.html" %}

{% block title %}
  Edit "{{ course.title }}"
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center">Edit "{{ course.title }}"</h1>

  <div class="module mt-4">
    <h2>Course Modules</h2>
    <form method="post">
      <div class="form-group">
        {{ formset.as_p }}
      </div>
      {{ formset.management_form }}
      {% csrf_token %}
      
      <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary">Save Modules</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
