{% extends "blog/recipe_base.html" %}
{% load recipe_tags %}

{% block title %}My Recipes{% endblock %}

{% block content %}
    <h1>My Recipes</h1>
    {% if tag %}
        <h2>Recipes tagged with "{{ tag.name }}"</h2>
    {% endif %}
    {% for recipe in recipes %}
    <h2>
        <a href="{{ recipe.get_absolute_url }}">
            {{ recipe.title }}
        </a>
    </h2>
    <p class="tags">
        Tags:
        {% for tag in recipe.tags.all %}
            <a href="{% url "blog:recipe_list_by_tag" tag.slug %}">
                {{ tag.name }}
            </a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p class="date">
        Published {{ recipe.publish }} by {{ recipe.author }}
    </p>
        {{ recipe.body|markdown|truncatewords_html:30 }}
    {% endfor %}
    {% include "pagination.html" with page=recipes %}
{% endblock %}