{% extends "base.html" %}

{% block title %}Delete Course{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Delete Course "{{ object.title }}"</h1>
    <div class="alert alert-danger mt-4">
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <form action="" method="post">
            {% csrf_token %}
            <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-danger me-2">Confirm</button>
                <a href="{% url 'course_list' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
