{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Added for responsiveness -->
    <title>{% block title %}Educa{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">Educa</a>
        <ul class="menu">
            {% if request.user.is_authenticated %}
            <li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %} <!-- CSRF token for security -->
                    <button type="submit">Sign out</button>
                </form>
            </li>
            {% else %}
            <li><a href="{% url 'login' %}">Sign in</a></li>
            {% endif %}
        </ul>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    {% block include_js %}
    {% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            // DOM loaded
            console.log("DOM is fully loaded"); // Example log for debugging
        });
    </script>
    
    {% block domready %}
    <script>
        // This block can contain custom JavaScript for specific pages
    </script>
    {% endblock %}
</body>
</html>
