{% load recipe_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/recipe.css' %}" rel="stylesheet">
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <!-- Recipe Section -->
        <h2>My recipes</h2>
        <p>Check out my recipes. I've shared {% total_recipes %} recipes so far.</p>
        <h3>Latest recipes</h3>
        {% show_latest_recipes 3 %}
        <h3>Most commented recipes</h3>
        {% get_most_commented_recipes as most_commented_recipes %}
        <ul>
            {% for recipe in most_commented_recipes %}
                <li>
                    <a href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
