{% extends "base.html" %}

{% block content %}
  <div class="container my-4">
    <h2 class="mb-3">{{ portfolio.title }}</h2>
    <p class="text-muted">Uploaded on: {{ portfolio.date }}</p>
    
    {% if portfolio.content %}
      <p>
        <a href="{{ portfolio.content.url }}" class="btn btn-primary" target="_blank">View Content</a>
      </p>
    {% elif portfolio.link %}
      <p>
        <a href="{{ portfolio.link }}" class="btn btn-info" target="_blank">External Link</a>
      </p>
    {% endif %}
  </div>
{% endblock %}
